<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить информацию по авто</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <ul class="header">
        <li><a href="/about">О нас</a></li>
        <li><a href="/view_car">Просмотреть инфо по авто</a></li>
        <li><a href="/search_results">Поиск по VIN</a></li>
    </ul>


    <h2>Добавить информацию по авто</h2>
    <form method="post" enctype="multipart/form-data" style="margin-left: 40px">
        {% csrf_token %}
        {{ form.manufacturer }} <br>
        {{ form.vin }} <br>
        {{ form.description }} <br>
        {{ form.date }} <br>
        {{ form.image }} <br><br>

        <button type="submit" class="btn-success">Добавить</button>
        <span class="error">{{ error }}</span>
    </form>

    {% if messages %}
        <p class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
    {% endif %}

</body>
</html>