<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить информацию по авто</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul class="navigation">
            <li><a href="/">Главная</a></li>
            <li><a href="/view_car">Просмотреть инфо по авто</a></li>
            <li><a href="/search_results">Поиск по VIN</a></li>
            {% if user.is_authenticated %}
                <span class="logged">
                    <li class="username" align="right">{{ user.get_username }} &nbsp|</li>
                    <li class="logout"><a href="/logout">Выйти</a></li>
                </span>
            {% endif %}

        </ul>
    </nav>
    {% if user.is_authenticated %}
        <h2 style="margin-top: 20px; margin-bottom: 15px">Добавить информацию по авто</h2>

        <form method="post" enctype="multipart/form-data" style="margin-left: 60px;">
            {% csrf_token %}

            <input type="text" name="manufacturer" placeholder="Ведите марку и модель автомобиля" id="manufacturer">
            {{ avto_form.manufacturer.errors }}
            <br>

            <input type="text" name="vin" placeholder="Введите VIN номер автомобиля" id="vin" maxlength="17">
            {{ avto_form.vin.errors }}
            <br>

            {{ avto_form.description }} <br>

            <input class="date" type="date" name="date" placeholder="Введите дату осмотра автомобиля" id="date">
            {{ avto_form.date.errors }}
            <br>

            {{ avto_form.image }} <br><br>


            <button type="submit" class="add-car">Добавить</button>
            <span class="error">{{ error }}</span>
        </form>


        {% if vin.errors %}
            {% if messages %}
                <p class="error">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </p>
            {% endif %}
        {% endif %}

    {% else %}
        <br><p class="error"> Вы не можете добавлять информацию по автомобилям,
        пока не <a href="/sign_in">войдёте в систему</a>.</p>
    {% endif %}
</body>
</html>