<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Контакты</h2>
    <p class="contacts">По любым вопросам можно обращаться по номеру <a href="callto:+375291904890">+375291904890</a> или на почту grechiho.vika@gmail.com.</p>
</html>