<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul class="navigation">
            <li><a href="/">Главная</a></li>
            <li><a href="/view_car">Просмотреть инфо по авто</a></li>
            <li><a href="/search_results">Поиск по VIN</a></li>
            {% if user.is_authenticated %}
                <span class="logged">
                    <li class="username" align="right">{{ user.get_username }} &nbsp|</li>
                    <li class="logout"><a href="/logout">Выйти</a></li>
                </span>
            {% endif %}

        </ul>
    </nav>
    <h2>Вход на сайт</h2>

    <form method="POST" style="margin-left: 40px">

        {% csrf_token %}

        <label for="id_username">Имя пользователя:</label>
        <input type="text" name="username" placeholder="Введите имя пользователя" id="id_username" maxlength="15">
        {{ login_form.username.errors }}
        <br>

        <label for="id_password">Пароль:</label>
        <input type="password" name="password" placeholder="Введите пароль" id="id_password">
        {{ login_form.password.errors }}

        <br><br>

        <button class="btn btn-primary" type="submit">Войти</button>
    </form>

    
    {% if not password.errors and not username.errors %}
        {% if messages %}
            <p class="error">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}


    <br><br>
    <p class="login" style="margin-left: 70px">Еще не зарегистрированы? <a href="/sign_up">Зарегистрируйтесь</a>.</p>

</body>
</html>
