<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Регистрация нового пользователя</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <button type="submit">Отправить</button>
        <span class="error">{{ error }}</span>
    </form>
    {% if messages %}
    <p class="messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </p>
    {% endif %}
</body>
</html>