<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешная регистрация</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul class="navigation">
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/view_car">Просмотреть инфо по авто</a></li>
            <li><a href="/search_results">Поиск по VIN</a></li>
            {% if user.is_authenticated %}
                <span class="logged">
                    <li class="username" align="right">{{ user.get_username }} &nbsp|</li>
                    <li class="logout"><a href="/logout">Выйти</a></li>
                </span>
            {% endif %}
        </ul>
    </nav>

    <p class="success">Поздравляем! <br>
        Вы успешно зарегистрировались. Теперь вы можете <a href="/sign_in">войти в систему</a>, и после этого не только
        <a href="/view_car">просмотреть данные по автомобилям</a>, но и <a href="/add_car">добавить информацию</a> по другим авто.</p>

</body>
</html>