<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешная регистрация</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <p class="success">Поздравляем! Вы успешно зарегистрировались. Теперь вы можете <a href="/login">войти в систему</a> и после этого не только
        <a href="/view_car">просмотреть данные по автомобилям</a>, но и <a href="/add_car">добавить информацию</a> по другим авто.</p>

</body>
</html>