<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотреть информацию по авто</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <ul class="header">
        <li><a href="/about">О нас</a></li>
        <li><a href="/view_car">Просмотреть инфо по авто</a></li>
        <li><a href="/search_results">Поиск по VIN</a></li>
    </ul>

    <h2>Информация по авто</h2>

    {% if avto_data %}

        {% for el in avto_data %}
                <p><span class="names">Марка авто: </span>{{ el.manufacturer }}</p>
                <p><span class="names">VIN номер авто: </span>{{ el.vin }}</p>
                <p><span class="names">Описание авто: </span>{{ el.description }}</p>
                <p><span class="names">Дата осмотра авто: </span>{{ el.date }}</p>
                <p><span class="names">Фотоография авто: </span>
                    <div class="image" style="margin-left: 65px">
                        <img src="{{ el.image.url }}" alt="img" width="25%" height="18%"/></div></p>
                <br><br>
        {% endfor %}

    {% else %}
        <h5>Записей нет</h5>
    {% endif %}
</body>
</html>