<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотреть информацию по авто</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        <ul class="navigation">
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            {% if user.is_authenticated %}
                <li><a href="/add_car">Добавить инфо по авто</a></li>
            {% endif %}
            <li><a href="/search_results">Поиск по VIN</a></li>
            {% if user.is_authenticated %}
                <span class="logged">
                    <li class="username" align="right">{{ user.get_username }} &nbsp|</li>
                    <li class="logout"><a href="/logout">Выйти</a></li>
                </span>
            {% endif %}

        </ul>
    </nav>

    <h2>Информация по авто</h2>

        <form method="GET">
        {% csrf_token %}

        <input type="text" name="vin" placeholder="Введите VIN номер автомобиля" id="vin" maxlength="17"
               style="margin-left: 60px">
        <button type="submit" class="filter">Отфильтровать</button>
            {{ avtos.vin.errors }}

        </form>
        <br><br>

    {% if avto_data %}

    <table class="names">
        <tr>
            <th>Марка авто</th>
            <th>VIN номер авто</th>
            <th>Описание авто</th>
            <th>Дата осмотра авто</th>
            <th width="25%">Фотография авто</th>
        </tr>
        {% for el in avto_data %}
            <tr>
                <td>{{ el.manufacturer }}</td>
                <td>{{ el.vin }}</td>
                <td>{{ el.description }}</td>
                <td>{{ el.date }}</td>
                <td width="70%"><img src="{{ el.image.url }}" alt="img" width="170px" height="100px"/></td>
                {% if user.is_authenticated %}
                    <td><a href="edit/{{el.vin}}" class="changing">Изменить</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% else %}
        <h5>Записей нет...</h5>
    {% endif %}

</body>
</html>