body {
  background-color: #C1DDF6; /* Цвет фона веб-страницы */
  background: url("{% static "images/12.jpeg" %}")
}

h1 {
    align="center";
    color: #24DCA2; /* Цвет заголовка */
    font-size: 70pt; /* Размер шрифта в пунктах */
    font-family: 'Fira Sans Condensed', sans-serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}

h2 {
    align="right";
    margin-left: 5% !important;
    color: #1B2035; /* Цвет заголовка */
    margin-left: 30px;
    font-size: 50pt; /* Размер шрифта в пунктах */
    font-family: 'Fira Sans Condensed', sans-serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
    text-shadow: 0 0 20px #685A9F;
}

h5 {
    align="right";
    color: #E91F1F; /* Цвет заголовка */
    margin-left: 30px;
    font-size: 20pt; /* Размер шрифта в пунктах */
    font-family: 'Fira Sans Condensed', sans-serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}

p {
    font-size: 14pt;
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    padding-left: 10px; /* Отступ от линии слева до текста  */
}

p.about {
    color: #160B3F;
    font-size: 22pt;
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 1000px;
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 40px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    padding-left: 10px; /* Отступ от линии слева до текста  */
}

p.contacts {
    font-size: 16pt;
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 1000px;
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 50px; /* Отступ слева в пикселах */
}

p.login {
    color: #160B3F;
    font-size: 16pt;
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 1000px;
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 50px; /* Отступ слева в пикселах */
}

a {
    text-decoration: none;
}

span {
    font-size: 16pt;
    color: #46496B;
}

span.helptext{
    margin-left: 10px;
    display:block;
    white-space: pre;
    font-size: 12pt;
    color: #505486;

}

.error {
    font-size: 16pt;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #F63838;
}

.errorlist {
    margin-left: 50px;
    font-size: 12pt;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #F63838;
    margin: -5px;
}

.vertical-menu {
    margin-top: -30px;
    margin-right: 20px;
    width: 400px; /* Set a width if you like */
    float: right;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20pt;
    color: #BAE5D7;
    text-align: right;
}

.vertical-menu a {
    color: #AFD1EE;
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    color: #D8E5F0;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

label {
    font-size: 25px;
    font-family: 'Fira Sans Condensed', sans-serif;
    width: 400px; /* Ширина содержимого */
    padding: 10px; /* Поля вокруг текста */
}

textarea {
    color: initial;
    font-size: 20px;
    display: inline-block;
    background-color: #DCFAE4;
    resize: auto;
    width: 50%;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font: 400 13.3333px Arial;
    padding: 2px;
    border-radius: 8px;
}

textarea:focus {
    background-color: #F6F8EA;
    border: 2px solid #89CB3E;
}

input, textarea {
    padding: 5px;
    width: 40%;
    font-size: 20px;
    margin: 10px;
    outline: none;
    font-family: inherit;
    font-size: 100%;
    border-color: #B9BCE0;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    background-color: #DCFAE4;
    font-size: 20px;
    background-image: linear-gradient(to left, #546DAE, #BBC0F2);
}

input:focus {
    background-color: #F6F8EA !important;
    border: 2px solid #161834;
    box-shadow: 0 0 30px #ECEDF6;
}

input.date {
    color: #6D7170;
}

button {
    margin-left: 6% !important;
    background-color: #129C2E;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

button.search {
    margin-left: 525px !important;
}

button.filter {
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
}

button:hover {
    opacity: 1
}

p.messages {
    font-size: 20px;
    margin: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #319139;
}

p.success {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 28px;
    color: #319139;
    text-align: center
    align: center;
    width: 800px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}

nav {
    position: relative;
    background: #C6E6DD;
    box-shadow: inset 0 0 10px #EAEAF5;
    padding: 20px;
    margin: 0;
}

nav {
    position: relative;
    background: #CBE0F8;
    box-shadow: inset 0 0 10px #EAEAF5;
    padding: 20px;
    text-shadow: 0 0 25px #514277;
}

.navigation ul {
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    list-style: none; /*убираем маркеры списка*/
}

.navigation li {
    width: 100%;
    display: inline;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 10px;
    margin: 5px;
}

.navigation li a {
    color: #545A58;
    text-decoration: none;
    padding: 10px;
}

span.logged {
    margin: auto;
    display: inline-block;
    float: right;
    top: 50%;
}

.navigation li.username {

    font-size: 30px;
}

.navigation li.logout {
    font-size: 20px;
    right: 0px;
    margin: -15px auto;
}

.navigation li a:hover {
    color: #161834;
    background: #C1D7F7;
    text-decoration: none;
    padding: 10px;
    box-shadow:  0 0 20px #E5E6EF;
    border-radius: 8px;
    outline: none !important
}


